body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
.header {
  height: 50px;
  width: 100%;
  background: #243333;
  margin: 0;
  padding: 10px;
  display: block;
}
h1, h2, h3 {
  line-height: 1.1em;
  color: #073642;
  text-align: center;
  margin: 0px;
}
h1 { font-weight: 900; }
h2 { font-weight: 700; }
h3 { font-weight: 500; }
p {
  line-height: 1.5em;
  text-align: center;
  margin-bottom: 0px;
  font-size: 16px;
  color: #586e75;
}
a {
  color: #428bca;
  text-decoration: none;
}
a:hover, a:focus {
  color: #005580;
  text-decoration: underline;
}
.instructions {
  width: 100%;
  height: 110px;
  background: #d5d5d5;
  margin: 0;
  padding: 10px;
}

.card-container {
}

.color-card {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  width: 25%;
  border: none;
  text-align: center;
  float: left;
  color: #fff;
  font-size: 2em;
  padding: 0;
  margin: 0;
}

.color-card > span {
    display: inline-block;
    vertical-align: middle;
    line-height: 1em; /*set line height back to normal*/
}
